/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

* {
	box-sizing: border-box;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

h1 {
	color: rgb(154, 171, 165);
	font-family: Baskerville, serif;
	font-size: 4em;
}

h2 {
	color: rgb(110, 128, 112);
	font-size: 2em;
}

p {
	color: rgb(154, 171, 165);
}

img {
	display: block;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#necklace {
	border: 5px solid rgb(154, 171, 165);
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* Write all remaining styles here */

/* Sections */

#press {
	margin-bottom: 20px;
}

#pad {
	clear: both;
}

footer {
	text-align: right;
	margin-top: 20px;
}

/* Classes */

.press-link {
	float: left;
	border: 5px solid rgb(154, 171, 165);
	padding: 1px;
	width: 24%;
	margin-left: 5px;
}

a.press-link:hover {
	border: 5px solid rgb(110, 128, 122);;
	cursor: pointer;
}
